{
    "input": {
        "nodes": 1,
        "functions": [
            "lambda x: lorenz_states[:,0]"
        ],
        "length": 10000
    },
    "reservoir": {
        "start_node": 400,
        "end_node": 400,
        "step": 1,
        "degree_function": "lambda x: np.sqrt(x)",
        "sigma": 0.5,
        "bias": 1,
        "leakage_rate": 1.0,
        "regression_parameter": 1e-08
    },
    "output": {
        "nodes": 2,
        "functions" :[
            "lambda x: lorenz_states[:,1]",
            "lambda x: lorenz_states[:,2]"
        ]
    },
    "training": {
        "init": 500,
        "train": 4000,
        "test": 1000,
        "error": 500
    }
}